




.jumbotron{
    background-image: url("../images/jumbotron.jpg");
    margin-bottom:150px;
  object-fit: cover; /* この一行を追加するだけ！ */
;}

.bpm{
    width:300px;
}

.bpm lavel{
    font-weight:bold;
    display:block;
    text-align:center;
}

.bpm .bpm_input{
    text-align:center;
}

.select_all{
  display: flex;
  justify-content: space-between; /* live sample で変更可能 */
}

select.form-control[size]{    
    height:calc(2.25rem + 2px);
}


select.form-control[size]{    
    height:calc(2.25rem + 2px);
}


form{
    margin-bottom:150px;
}

.btn-secondary{
    display:block;
    margin:0 auto;
    margin-top:150px;
}

.w-75{
    text-align:center;
}
.card{
    margin:0 auto;
    margin-bottom:30px;
}

.card-body{
    display:flex;
    justify-content:space-around;
    font-weight:bold;
}

.card-body p{
    margin-top:20px;
}

.card-body div span{
    margin-top:30px;
}

